RewriteEngine On
AddType text/turtle .ttl
AddType application/ld+json .jsonld

RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteRule ^$ https://w3id.org/h2kg/hydrogen-ontology/hydrogen-ontology.html [R=303,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{QUERY_STRING} (^|&)format=jsonld(&|$)
RewriteRule ^$ https://w3id.org/h2kg/hydrogen-ontology/latest/ontology.jsonld [R=303,L]

RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{QUERY_STRING} (^|&)format=ttl(&|$)
RewriteRule ^$ https://w3id.org/h2kg/hydrogen-ontology/latest/ontology.ttl [R=303,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{QUERY_STRING} (^|&)format=jsonld(&|$)
RewriteRule ^source/?$ https://w3id.org/h2kg/hydrogen-ontology/source/ontology.jsonld [R=303,L]

RewriteRule ^source/?$ https://w3id.org/h2kg/hydrogen-ontology/source/ontology.ttl [R=303,L]
RewriteRule ^inferred/?$ https://w3id.org/h2kg/hydrogen-ontology/inferred/ontology.ttl [R=303,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{QUERY_STRING} (^|&)format=jsonld(&|$)
RewriteRule ^latest/?$ https://w3id.org/h2kg/hydrogen-ontology/latest/ontology.jsonld [R=303,L]

RewriteRule ^latest/?$ https://w3id.org/h2kg/hydrogen-ontology/latest/ontology.ttl [R=303,L]
RewriteRule ^latest/inferred/?$ https://w3id.org/h2kg/hydrogen-ontology/latest/inferred.ttl [R=303,L]
RewriteRule ^context/?$ https://w3id.org/h2kg/hydrogen-ontology/latest/context.jsonld [R=303,L]

RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteRule ^([0-9]{4}\.[0-9]+\.[0-9]+)/?$ https://w3id.org/h2kg/hydrogen-ontology/hydrogen-ontology.html [R=303,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{QUERY_STRING} (^|&)format=jsonld(&|$)
RewriteRule ^([0-9]{4}\.[0-9]+\.[0-9]+)/?$ https://w3id.org/h2kg/hydrogen-ontology/$1/ontology.jsonld [R=303,L]

RewriteRule ^([0-9]{4}\.[0-9]+\.[0-9]+)/?$ https://w3id.org/h2kg/hydrogen-ontology/$1/ontology.ttl [R=303,L]
RewriteRule ^([0-9]{4}\.[0-9]+\.[0-9]+)/inferred/?$ https://w3id.org/h2kg/hydrogen-ontology/$1/inferred.ttl [R=303,L]
RewriteRule ^([0-9]{4}\.[0-9]+\.[0-9]+)/context/?$ https://w3id.org/h2kg/hydrogen-ontology/$1/context.jsonld [R=303,L]

RewriteRule ^$ https://w3id.org/h2kg/hydrogen-ontology/latest/ontology.ttl [R=303,L]
