Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteRule ^$ https://vimilabs.github.io/AIMWORKS/index.html [R=302,L]

RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^$ https://raw.githubusercontent.com/ViMiLabs/AIMWORKS/main/ontology_release/output/ontology/schema.ttl [R=302,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^$ https://raw.githubusercontent.com/ViMiLabs/AIMWORKS/main/ontology_release/output/ontology/schema.jsonld [R=302,L]

RewriteRule ^$ https://vimilabs.github.io/AIMWORKS/index.html [R=302,L]
